.logo_marata{
    width: 40%;
    padding-left: 5%;
}

.logo_marata_dl{
    width: 20%;    
    margin-left: 40%;
    margin-bottom: 10%;
}

.form_produto{
    margin-left: 35%;
    margin-right: 35%;
    
}

.form_itens{
    padding: 2%;
}

.m1{
    margin-left: 37%;
}
.m2{
    margin-top: 5%;
}
