.logo_marata{
    width: 12%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.logo_marata_dl{
    width: 20%;    
    margin-left: 40%;
    margin-bottom: 10%;
}
.form_produto{
    margin-left: 35%;
    margin-right: 35%; 
}
.form_itens{
    padding: 2%;
}

.m1{
    margin-left: 37%;
}
.m2{
    margin-top: 5%;
}
.navbar-brand{
    margin-left: 24%;
}
.navbar{
padding-top: 1%;
padding-bottom: 1%;
}
.list{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}
.cd-bt{
    width: 80px;
}